.jumbotron{
  background-color: $fuschia;
  color: $bright;
}

.body{
  background-color: $pitch;
  color: $bright;
}

//.body > h1, h2, h3, h4, p{
//  color: $bright;
//}

.body > a {
  color: $sapphire;
}